@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-enter-active, .slide-leave-active {
    transition: all 1.5s ease-in-out;
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    transform: translateY(-20px);
}

.slide-enter-to,
.slide-leave-from {
    opacity: 1;
    transform: translateY(0);
}

html::-webkit-scrollbar{
    width: 5px;
    background: theme('colors.stone.800')
}

html::-webkit-scrollbar-thumb{
    background: theme('colors.stone.700');
    border-radius: theme('borderRadius.md');
}